sungrow-nodered-flow-compact
[{"id":"1b59e392.5d187c","type":"tab","label":"Sungrow Inverter to MQTT","disabled":false,"info":""},{"id":"992b4a8a.41fc18","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Output","topic":"solar/pv_output","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1430,"y":120,"wires":[]},{"id":"6db10385.16714c","type":"function","z":"1b59e392.5d187c","name":"Get Inputs","func":"\nmsg.payload = {\n    'fc': 4, \n    'unitid': 1, \n    'address': 5000 , \n    'quantity': 100\n}; \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["1466cff0.3ac76"]]},{"id":"4acc877d.629bb8","type":"inject","z":"1b59e392.5d187c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"str","x":110,"y":60,"wires":[["6db10385.16714c"]]},{"id":"1466cff0.3ac76","type":"modbus-flex-getter","z":"1b59e392.5d187c","name":"SunGrow Inverter","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"38fe784b.9bc558","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":290,"y":480,"wires":[["c6ed660e.5065e8","1e6097b6.a0e7e8","2f1b8d68.7157c2","d2160d5a.e6aad","674943a.87509bc","df3cb5b7.16c7a8","6492614e.891e3","adb03277.d89e2","fc0a2e34.6b2c9","7617e734.f284c8","59806f91.24f21","6917b2fb.f6434c","25ebcee0.c62432"],["da4f62bd.2d2ed"]]},{"id":"c6ed660e.5065e8","type":"function","z":"1b59e392.5d187c","name":"input 5016 pv output","func":"var newMsg = { payload: msg.payload[16] };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":20,"wires":[["992b4a8a.41fc18"]]},{"id":"25237a2.b19c286","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Line Frequency","topic":"solar/pv_line_frequency","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":200,"wires":[]},{"id":"1e6097b6.a0e7e8","type":"function","z":"1b59e392.5d187c","name":"input 5035 line frequency","func":"var newMsg = { payload: msg.payload[35]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":60,"wires":[["25237a2.b19c286"]]},{"id":"82ab6d3d.b0daf","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Inverter Current","topic":"solar/pv_inverter_current","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":260,"wires":[]},{"id":"2f1b8d68.7157c2","type":"function","z":"1b59e392.5d187c","name":"input 5021 inverter current","func":"var newMsg = { payload: msg.payload[21]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":100,"wires":[["82ab6d3d.b0daf"]]},{"id":"5051dffc.7281","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Grid Voltage","topic":"solar/pv_grid_voltage","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1440,"y":320,"wires":[]},{"id":"d2160d5a.e6aad","type":"function","z":"1b59e392.5d187c","name":"input 5018 grid voltage","func":"var newMsg = { payload: msg.payload[18]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":140,"wires":[["5051dffc.7281"]]},{"id":"c8a47695.ff25c8","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Daily Total","topic":"solar/pv_daily_total","qos":"1","retain":"true","broker":"8c026c3e.3262e","x":1440,"y":380,"wires":[]},{"id":"674943a.87509bc","type":"function","z":"1b59e392.5d187c","name":"input 5002 daily total","func":"var newMsg = { payload: msg.payload[2]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":180,"wires":[["c8a47695.ff25c8"]]},{"id":"233219a.c5158e6","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Lifetime Total","topic":"solar/pv_lifetime_total","qos":"1","retain":"true","broker":"8c026c3e.3262e","x":1450,"y":440,"wires":[]},{"id":"df3cb5b7.16c7a8","type":"function","z":"1b59e392.5d187c","name":"input 5003 lifetime total","func":"var newMsg = { payload: msg.payload[3] };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":220,"wires":[["233219a.c5158e6"]]},{"id":"1d586d81.91d5c2","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Internal Temperature","topic":"solar/pv_internal_temp","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":500,"wires":[]},{"id":"6492614e.891e3","type":"function","z":"1b59e392.5d187c","name":"input 5007 internal temperature","func":"var newMsg = { payload: msg.payload[7]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":260,"wires":[["1d586d81.91d5c2"]]},{"id":"f2e13f16.633d","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Bank A Voltage","topic":"solar/pv_a_voltage","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":560,"wires":[]},{"id":"adb03277.d89e2","type":"function","z":"1b59e392.5d187c","name":"input 5010 bank a voltage","func":"var newMsg = { payload: msg.payload[10]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":300,"wires":[["f2e13f16.633d"]]},{"id":"4b89f42a.66239c","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Bank A Current","topic":"solar/pv_a_current","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":620,"wires":[]},{"id":"fc0a2e34.6b2c9","type":"function","z":"1b59e392.5d187c","name":"input 5011 bank a current","func":"var newMsg = { payload: msg.payload[11]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["4b89f42a.66239c"]]},{"id":"1029f150.44b75f","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Bank B Voltage","topic":"solar/pv_b_voltage","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":680,"wires":[]},{"id":"7617e734.f284c8","type":"function","z":"1b59e392.5d187c","name":"input 5012 bank a voltage","func":"var newMsg = { payload: msg.payload[12]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["1029f150.44b75f"]]},{"id":"e7a8f903.460ff8","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Bank B Current","topic":"solar/pv_b_current","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":760,"wires":[]},{"id":"59806f91.24f21","type":"function","z":"1b59e392.5d187c","name":"input 5013 bank b current","func":"var newMsg = { payload: msg.payload[13]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["e7a8f903.460ff8"]]},{"id":"da4f62bd.2d2ed","type":"modbus-response","z":"1b59e392.5d187c","name":"","registerShowMax":"100","x":210,"y":840,"wires":[]},{"id":"6917b2fb.f6434c","type":"debug","z":"1b59e392.5d187c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"230a5121.82a74e","type":"mqtt out","z":"1b59e392.5d187c","name":"PV Meter Output","topic":"solar/pv_meter_output","qos":"1","retain":"false","broker":"8c026c3e.3262e","x":1450,"y":800,"wires":[]},{"id":"25ebcee0.c62432","type":"function","z":"1b59e392.5d187c","name":"input 5082-5083 meter power?","func":"var newMsg = { payload: (msg.payload[82])+(-msg.payload[83] << 32) };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":460,"wires":[["230a5121.82a74e"]]},{"id":"471c7da.55bc284","type":"mqtt in","z":"1b59e392.5d187c","name":"","topic":"inverter/stats","qos":"2","datatype":"utf8","broker":"8c026c3e.3262e","x":130,"y":580,"wires":[["c003ed89.e7fe7"]]},{"id":"a5dcd5a7.4eacb8","type":"json","z":"1b59e392.5d187c","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":720,"wires":[["6ed92966.240858","71cbb8c4.d11e88","f44aaaf8.af0cb8","48c1db2f.efa874","257bd68e.34b22a","6e13fe07.e576e","b317a9f1.4c31f8","1202bb9e.fb02c4","7be80bb6.7eaa94","331985a0.b9de7a","52ec86ac.704388","15d97443.07c6bc","4b415fe3.99407"]]},{"id":"6ed92966.240858","type":"function","z":"1b59e392.5d187c","name":"input total_pv_power","func":"var newMsg = { payload: msg.payload.total_pv_power};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":500,"wires":[["992b4a8a.41fc18"]]},{"id":"71cbb8c4.d11e88","type":"function","z":"1b59e392.5d187c","name":"input grid frequency","func":"var newMsg = { payload: msg.payload.grid_frequency};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":540,"wires":[["25237a2.b19c286"]]},{"id":"f44aaaf8.af0cb8","type":"function","z":"1b59e392.5d187c","name":"input inverter current","func":"var newMsg = { payload: msg.payload.inverter_current};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":580,"wires":[["82ab6d3d.b0daf"]]},{"id":"48c1db2f.efa874","type":"function","z":"1b59e392.5d187c","name":"input grid voltage","func":"var newMsg = { payload: msg.payload.grid_voltage};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":620,"wires":[["5051dffc.7281"]]},{"id":"257bd68e.34b22a","type":"function","z":"1b59e392.5d187c","name":"input daily total","func":"var newMsg = { payload: msg.payload.daily_total/10};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":660,"wires":[["c8a47695.ff25c8"]]},{"id":"6e13fe07.e576e","type":"function","z":"1b59e392.5d187c","name":"input lifetime total","func":"var newMsg = { payload: msg.payload.lifetime_total};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":700,"wires":[["233219a.c5158e6"]]},{"id":"b317a9f1.4c31f8","type":"function","z":"1b59e392.5d187c","name":"input pv internal temp","func":"var newMsg = { payload: msg.payload.internal_temp};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":740,"wires":[["1d586d81.91d5c2"]]},{"id":"1202bb9e.fb02c4","type":"function","z":"1b59e392.5d187c","name":"input bank a voltage","func":"var newMsg = { payload: msg.payload.pv1_voltage};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":780,"wires":[["f2e13f16.633d"]]},{"id":"7be80bb6.7eaa94","type":"function","z":"1b59e392.5d187c","name":"input bank a current","func":"var newMsg = { payload: msg.payload.pv1_current};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":820,"wires":[["4b89f42a.66239c"]]},{"id":"331985a0.b9de7a","type":"function","z":"1b59e392.5d187c","name":"input meter power","func":"var newMsg = { payload: (msg.payload.meter_power_1)+(-msg.payload.meter_power_2 << 32) };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":940,"wires":[["230a5121.82a74e"]]},{"id":"52ec86ac.704388","type":"function","z":"1b59e392.5d187c","name":"input bank b voltage","func":"var newMsg = { payload: msg.payload.pv2_voltage};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":860,"wires":[["1029f150.44b75f"]]},{"id":"15d97443.07c6bc","type":"function","z":"1b59e392.5d187c","name":"input bank b current","func":"var newMsg = { payload: msg.payload.pv2_current};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":900,"wires":[["e7a8f903.460ff8"]]},{"id":"4b415fe3.99407","type":"debug","z":"1b59e392.5d187c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1000,"wires":[]},{"id":"c003ed89.e7fe7","type":"switch","z":"1b59e392.5d187c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{}","vt":"str"},{"t":"neq","v":"{}","vt":"str"},{"t":"cont","v":"year:","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":680,"wires":[["1e8b80fb.34237f"],["a5dcd5a7.4eacb8"],["7a5f9427.73a90c"]]},{"id":"1e8b80fb.34237f","type":"debug","z":"1b59e392.5d187c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":600,"wires":[]},{"id":"7a5f9427.73a90c","type":"debug","z":"1b59e392.5d187c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":840,"wires":[]},{"id":"8c026c3e.3262e","type":"mqtt-broker","z":"","name":"HASS MQTT","broker":"192.168.0.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38fe784b.9bc558","type":"modbus-client","z":"","name":"SunGrow","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.0.28","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":3000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false}]
